.table-bordered {
  border: 0em;
}

/* Bootstrap overrides */
.table-bordered > tbody.responsive-table-rows > tr > td, .table-bordered > tbody.responsive-table-rows > tr > th {
  border: 0em;
}

.table > tbody + tbody.responsive-table-rows {
  border: 0em;
}

.table-bordered > tbody.wide-table-header-row > tr > th {
  border: 0em;
}

/*Media queries*/
@media screen and (max-width: 40em) {
  .wide-table-header-row {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .desktop-only {
    display: table-cell;
  }

  .mobile-only {
    display: none;
  }
}
