/* Bootstrap overrides */
.table-bordered {
  border: 0em;
}

.table-bordered > tbody.responsive-table-rows > tr > td, .table-bordered > tbody.responsive-table-rows > tr > th {
  border: 0em;
}

.table > tbody + tbody.responsive-table-rows {
  border: 0em;
}

.table-bordered > tbody.wide-table-header-row > tr > th {
  border: 0em;
}

.wide-table-header-row {
    /*display: none;*/
}

tr.responsive-table-rows {
    display: table-row-group;
}



/*no table table*/
.no-table-table {
  /*display: table;*/
}

div.no-table-table {
  display: table;
}

div.no-table-table .headers {
  display: table-row;
}

div.no-table-table .row {
  display: table-row;
}

div.no-table-table .cell {
  display: table-cell;
}





/*Media queries*/
@media screen and (max-width: 40em) {
  .wide-table-header-row {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .desktop-only {
    display: table-cell;
  }

  .mobile-only {
    display: none;
  }

  .wide-table-header-row {
    /*display: table-header-group;*/
  }

  tr.responsive-table-rows {
    display: table-row;
  }
}
